*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{ 
    scroll-behavior: smooth;
}
body{}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex; 
}

.conteudo-header{}
.logo-header{}
.header-menu-nav{}
.menu-lista{}
.menu-lista a{}

.conteudo-principal{}
.conteudo-principal-titulo{}
.conteudo-principal-form{}
.conteudo-principal-form textarea{}
.conteudo-principal-form button{}

.conteudo-postagem-feed{}
.conteudo-postagem-lista{}
.conteudo-postagem{}
.foto-perfil-postagem{}
.conteudo-da-postagem{}